<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,-25" />    <title>Card with Input</title>
    <style>
        #setup{
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            align-items: center;
        }
        .btn {
        padding: 10px 20px;
        color: #fff;
        border: none;
        cursor: default; /* Set default cursor */
        }
        .btn:hover {
            cursor: pointer; /* Change cursor on hover */
        }
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .card td:first-child {
            padding-right: 20px; /* Add some space between Serial No. and URL */
        }
        .input-container {
            display: flex;
            margin-bottom: 10px;
        }
        .input-container input[type="text"] {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }
        .input-container button {
            padding: 8px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .input-container button:hover {
            background-color: #0056b3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        th {
            background-color: #f0f0f0;
        }
        .button-gradient-1 {
        background: linear-gradient(to right, #ff6e7f, #bfe9ff);
        color: white;
        }
    </style>
</head>
<body id="setup">

<div  class="card">
    <form action="/" method="POST">
        <div class="input-container">
            <input type="text" name="query" required placeholder="Enter username..">
            <button type="submit">Find Repos</button>
        </div>
    </form>
    <% if (locals.id) { %>
        <form action="/readme" method="POST" class="input-container" style="justify-content: end; width: 200px;">
            <input type="hidden" name="readme" value= "<%= locals.id[0].owner.login %>">
            <button type="submit">User's Readme</button>
        </form>
    <% } %>
</div>

<div>
    <% if (locals.id) { %>
        
        <table>
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% locals.id.forEach((url, index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td>
                            <div class="card">
                                <%= url.name %>
                                <% if (url.language != null) { %>
                                    <button style="color: black; background-color: darkgray; border-radius: 8px; scale: 80%;" disabled="disabled"> <%= url.language %> </button>
                                <% } %>
                                <% if (url.stargazers_count != 0) { %>
                                    
                                    <span class="material-symbols-outlined">
                                        grade
                                    </span>
                                    <%= url.stargazers_count %>
                                <% } %>
                            </div>
                        </td>
                        <td style="display: flex; flex-direction: row; gap: 10px;"> <!-- Added buttons for each URL -->
                            <form  action="/redirect" method="POST">
                                <input type="hidden" name="redirectUrl" value="<%= url.html_url %>">
                                <button class="btn" style="background: linear-gradient(to right, #bc4e9c, #f80759);
                                color: white; border-radius: 5px; " type="submit">Visit</button>
                            </form>
                            <form action="/clone" method="POST">
                                <input type="hidden" name="clone" value="<%= url.clone_url %>">
                                <button class="btn" style="background: linear-gradient(to right, #bc4e9c, #f80759);
                                color: white; border-radius: 5px;" type="submit" id="clone_btn">Clone</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
     <% } %>
</div>

</body>
</html>
